<header>
    <img src="/img/notfound.jpg" alt="Jackie Chan WHAT emoji" title="WHAT!" width="600px" height="450px">
</header>
<h1><font color="#FF9090">Oooooooooooooooops...</font></h1>
<font color="#7F7F7F">404 Not f... ... you know...</font>