<header>
    <img src="/img/busselton.jpg" alt="Busselton Jetty" title="Arvo!" width="300px" height="200px">
</header>
<h1><font color="#F0C0C0">About us...</font></h1>

<p><font color="#F0F0F0">Your fortune for the day:</font></p>
<blockquote><font color="#F0F0F0">{{fortune}}</font></blockquote>